form{
    padding: 20px;
    border: 2px solid powderblue;
    border-radius: 8px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    width: 400px;
}
.col-6 img{
    margin-top: 50px;
    width: 100%;
    height: 450px;
}